

    /* branding */

  #m #branding {
    background: url(../decor/slogan.png) no-repeat 360px 0;
    height: 65px;
  }

  #m.tall #branding {
    width: 490px;
  }

  #m.wide #branding {
    width: 480px;
  }

  #m #branding dt a {
    height: 65px;
    line-height: 65px;
    width: 350px;
  }

  #m #branding dt img {
    font-size: 24px;
    height: 85px;
    line-height: 65px;
    margin: -10px;
  }

  #m #branding dd {
    height: 65px;
    line-height: 12px;
    width: 350px;
  }


    /* contact */

  #m.tall #contact {
    background: #ddd url(../decor/head-primary.png) no-repeat center top;
    height: 2.083em;
    width: 420px;
  }

  #m.wide #contact {
    background: #999 url(../decor/slogan-extend.png) repeat-x;
    height: 65px;
    width: 440px;
  }

  #m.wide #contact address {
    line-height: 12px;
    padding-right: 15px;
  }

  #m.tall #contact address.email {
    padding-left: 15px;
  }

  #m.wide #contact address.email {
    bottom: 14px;
  }

  #m.tall #contact address.telephone {
    padding-right: 15px;
  }

  #m.wide #contact address.telephone {
    background: url(../decor/slogan-extend-cap.png) no-repeat right top;
    height: 52px;
    padding-top: 13px;
  }

  #m.wide #contact address.email a {
    line-height: 12px;
  }
