

    /* center */

  #m,
  #m #vc1 {
    width: 920px;
  }


    /* universal */

  #m * {
    font-size: 12px;
    line-height: 25px;
  }


    /* foot: navigation */

  #m #primary.photo p.navigation {
    background: #eee url(../decor/foot.png) no-repeat bottom right;
    padding-right: 12px;
    width: 548px;
  }

  #m.tall #primary.photo p.navigation {
     background: #eee url(../decor/foot-primary.png) no-repeat bottom right;
     width: 408px;
  }

  #m #secondary.thumbnails p.navigation {
    background: #eee url(../decor/foot.png) no-repeat bottom left;
    padding-left: 12px;
    width: 478px;
  }

  #m.tall #secondary.thumbnails p.navigation {
    background: #eee url(../decor/foot-secondary.png) no-repeat bottom left;
  }

  #m.category #secondary.thumbnails p.navigation {
    width: 908px;
  }

  #m p.navigation a.next {
    background: url(../decor/icon-next.gif) no-repeat center center;
  }

  #m p.navigation a.next:focus,
  #m p.navigation a.next:hover {
    background: #fff url(../decor/icon-next-focus.gif) no-repeat center center;
  }

  #m p.navigation a.next:active {
    background: #ccc url(../decor/icon-next-active.gif) no-repeat center center;
  }

  #m p.navigation a.previous {
    background: url(../decor/icon-previous.gif) no-repeat center center;
  }

  #m p.navigation a.previous:focus,
  #m p.navigation a.previous:hover {
    background: #fff url(../decor/icon-previous-focus.gif) no-repeat center center;
  }

  #m p.navigation a.previous:active {
    background: #ccc url(../decor/icon-previous-active.gif) no-repeat center center;
  }

  #m p.navigation del.next {
    background: url(../decor/icon-next-disabled.gif) no-repeat center center;
  }

  #m p.navigation del.previous {
    background: url(../decor/icon-previous-disabled.gif) no-repeat center center;
  }


    /* foot: etiol */

  #m #etiol {
    height: 2.083em;
    width: 560px;
  }

  #m #etiol small {
    padding-right: 15px;
  }

  #m.awards #etiol,
  #m.error #etiol,
  #m.contact #etiol {
    background: #eee url(../decor/foot.png) no-repeat bottom right;
    width: 920px;
  }


    /* foot: feed */

  #m p.feed {
    background: #eee url(../decor/foot.png) no-repeat bottom left;
    height: 2.083em;
    width: 360px;
  }

  #m.tall p.feed {
    background-image: url(../decor/foot-secondary.png);
    width: 490px;
  }

  #m p.feed a {
    margin-left: 15px;
    padding-left: 20px;
    padding-bottom: 1px;
  }

  #m p.feed a {
    background: url(../decor/icon-rss.png) no-repeat left center;
  }

  #m p.feed a:focus,
  #m p.feed a:hover {
    background: url(../decor/icon-rss-focus.png) no-repeat left center;
  }


    /* exceptions */

  #m.phil-bardsley-and-eddie-hutchinson #primary.photo dl dd,
  #m.bono #primary.photo dl dd,
  #m.gordon-brown-2-moving-in #primary.photo dl dd,
  #m.classroom #primary.photo dl dd,
  #m.samir-durrani-2-freefall #primary.photo dl dd,
  #m.event-horizon #primary.photo dl dd,
  #m.napoli-and-coastguard #primary.photo dl dd,
  #m.napoli-tanker #primary.photo dl dd,
  #m.horseplay #primary.photo dl dd {
    bottom: auto;
    top: -25px;
  }
