
  #m #menu {
    margin-top: 75px;
  }

  #m.tall #menu {
    background: #ddd url(../decor/head-secondary.png) no-repeat center top;
    width: 490px;
  }

  #m.wide #menu {
    background: #ddd url(../decor/head.png) no-repeat center top;
    width: 920px;
  }

  #m.tall #menu #sections {
    left: 360px;
    width: 130px;
  }

  #m.wide #menu #sections {
    width: 560px;
  }

  #m.about #menu #sections,
  #m.awards #menu #sections,
  #m.category #menu #sections {
    width: 920px;
  }

  #m #menu #subsections {
    width: 360px;
  }

  #m #menu #sections h2 {
    background: url(../decor/head.png) no-repeat right top;
    padding: 0 15px 0 10px;
  }

  #m #menu #subsections h2 {
    background: url(../decor/head.png) no-repeat left top;
    padding: 0 10px 0 15px;
  }

  #m.tall.root #menu #sections ul {
    height: 349px;
    background: #ccc url(../decor/background-secondary.jpg) no-repeat right bottom;
  }
  
  #m #menu ul li a {
    background: #ddd url(../decor/head.png) no-repeat center top;
    padding: 0 5px;
  }

  #m.tall #menu #sections ul li a,
  #m.tall #menu #sections ul li strong {
    padding-right: 15px;
    width: 110px;
  }

  #m #menu ul li a:focus,
  #m #menu ul li a:hover,
  #m #menu ul li strong a:focus,
  #m #menu ul li strong a:hover {
    background: #bbb url(../decor/menu-selected.png) repeat-x top;
  }

  #m #menu ul li strong {
    background: #eee url(../decor/menu-focus.png) repeat-x top;
  }

  #m #menu #subsections ul li strong {
    padding: 0 5px;
  }

  #m #menu ul li.here strong {
    padding: 0 5px;
  }

  #m #menu ul li strong a {
    background: #eee url(../decor/menu-focus.png) repeat-x top;
    padding: 0 5px;
  }

  #m.tall #menu #sections ul li strong a {
    padding-right: 15px;
  }
