

    /* GENERAL */

  #m #primary {
    padding-bottom: 2.083em;
  }

  #m.tall #primary {
    background: #b4b4b4 url(../decor/background-primary.jpg) 100% 75px;
    height: 425px;
    margin-top: 2.083em;
    width: 420px;
  }

  #m.wide #primary {
    background: #b4b4b4 url(../decor/background-primary.jpg) right top;
    height: 350px;
    width: 560px;
  }


    /* .photo */

  #m.tall #primary.photo h1 {
    padding-left: 15px;
  }

  #m.tall #primary.photo dl {
    height: 425px;
  }

  #m #primary.photo dl dd {
    line-height: 18px;
    margin: 60px 35px;
    padding: 13px 15px;
    width: 510px;
  }

  #m #primary.photo dl dd a {
    margin: -4px;
    padding: 3px;
  }


    /* primary.text */

  #m #primary.text {
    height: 320px;
    padding: 15px;
    width: 530px;
  }

  #m #primary.text h1 {
    line-height: 18px;
    font-size: 18px;
  }

  #m #primary.text p {
    line-height: 18px;
    margin-top: 12px;
  }

  #m #primary.text p a {
    line-height: 12px;
  }


    /* m.awards */

  #m.awards #primary.text {
    background: #b4b4b4 url(../decor/background-photo-tabasco.jpg) no-repeat left top;
    padding-left: 375px;
  }

  #m #primary.text .winner {
    margin-bottom: 10px;
    width: 455px;
  }

  #m #primary.text #nikon_ae {
    background: #a4a4a4 url(../decor/background-primary-emphasis.jpg) -90px -15px;
  }

  #m #primary.text #colsa {
    background: #a4a4a4 url(../decor/background-primary-emphasis.jpg) -90px -95px;
  }

  #m #primary.text #times_tabasco {
    background: #a4a4a4 url(../decor/background-primary-emphasis.jpg) -90px -175px;
  }

  #m #primary.text .winner img {
    height: 70px;
    margin-left: -80px;
  }

  #m #primary.text #finalist {
    background: #a4a4a4 url(../decor/background-primary-emphasis.jpg) -15px -265px;
    height: 70px;
    margin-top: 10px;
    width: 380px;
  }

  #m #primary.text #finalist img {
    height: 70px;
  }

  #m #primary.text .winner h3,
  #m #primary.text #finalist h3 {
    font-size: 18px;
    line-height: 24px;
    margin-left: 5px;
    margin-bottom: 10px;
  }

  #m #primary.text #finalist h3 {
    margin-bottom: 13px; /* 3px float-absolute difference */
  }

  #m #primary.text #finalist h3 a#catwalk-star {
    right: 90px;
  }

  #m #primary.text #finalist h3 a#no-life {
    right: 15px;
  }

  #m #primary.text .winner ul li,
  #m #primary.text #finalist ul li {
    line-height: 14px;
    margin-left: 5px;
  }

  #m #primary.text .winner ul li a {
    line-height: 14px;
  }


    /* m.category */

  #m.category #primary.text * {
    line-height: 24px;
  }

  #m.category #primary.text p.a-z {
    line-height: 18px;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 0px; /* specificity problem if left in x/- */
  }

  #m.category #primary.text p.a-z a {
    line-height: 18px;
    font-size: 18px;
  }

  #m.category #primary.text h2 {
    line-height: 18px;
    font-size: 18px;
    margin-bottom: 9px;
  }

  #m.category #primary.text ul {
    margin-bottom: 15px;
  }

  #m.category #primary.text ul li {
    margin-right: 10px;
  }

  #m.category #primary.text li strong {
    padding: 2px 4px;
    margin: -3px -5px;
  }


    /* .contact */

  #m.contact #primary.text {
    background: #b4b4b4 url(../decor/background-photo-soldier.jpg) no-repeat left top;
    padding-left: 375px;
  }

  #m.error #primary.text {
    background: #b4b4b4 url(../decor/background-exclaim.jpg) no-repeat left top;
    padding-left: 375px;
  }

  #m #primary.text form {
    margin-top: 7px;
  }

  #m #primary.text form table tr.textbox th {
    width: 130px;
  }

  #m #primary.text form table tr.textbox td input,
  #m #primary.text form table tr.message td textarea {
    padding: 3px;
    margin: 2px 0;
  }

  #m #primary.text form table tr.textbox td input {
    width: 392px;
  }

  #m #primary.text form table tr.submit td input {
    padding: 3px;
    margin-top: 3px;
  }

  #m #primary.text form table tr.message td textarea {
    line-height: 18px;
    width: 522px;
    height: 13.5em;
  }
