

    /* GENERAL */

  #m #secondary {
    background: #b4b4b4 url(../decor/background-secondary.jpg) repeat-y left top;
    height: 350px;
    padding-bottom: 2.083em;
  }

  #m.tall #secondary {
    width: 490px;
  }

  #m.wide #secondary {
    width: 360px;
  }


    /* .photo */

  #m #secondary.photo dt img {
    height: 350px;
  }

  #m #secondary.photo dd {
    background: #eee url(../decor/foot.png) no-repeat bottom left;
    padding-left: 15px;
    width: 905px;
  }


    /* .text */

  #m #secondary.text {
    height: 320px;
    padding: 15px;
    padding-right: 25px;
    width: 320px;
  }

  #m #secondary.text h2 {
    line-height: 18px;
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 10px;
  }

  #m #secondary.text h2.first {
    margin-top: 0;
  }

  #m #secondary.text p.newsflash {
    background: #a4a4a4 url(../decor/background-secondary-emphasis.jpg) -15px -15px;
    line-height: 18px;
    padding: 2px 5px;
  }

  #m #secondary.text p.newsflash strong {
    line-height: 18px;
  }

  #m #secondary.text p.description {
    line-height: 18px;
  }

  #m #secondary.text #recent {
    background: url(../decor/background-secondary.jpg) -15px 100%;
  }

  #m #secondary.text #recent h2 {
    margin-bottom: 95px;
    padding-top: 5px;
    width: 320px;
  }

  #m #secondary.text #recent a {
    bottom: 15px;
  }

  #m #secondary.text #recent a.index-3 {
    left: 75px;
  }

  #m #secondary.text #recent a.index-4 {
    left: 150px;
  }

  #m #secondary.text #recent a.index-5 {
    left: 225px;
  }

  #m #secondary.text #recent a.more {
    background: url(../decor/background-secondary-emphasis.jpg) -315px -265px;
    left: 300px;
  }

  #m #secondary.text #recent a.more:focus,
  #m #secondary.text #recent a.more:hover {
    background: url(../decor/icon-more-focus.png) no-repeat top left;
  }

  #m #secondary.text #recent a.more:active {
    background: url(../decor/icon-more-active.png) no-repeat top left;
  }

  #m #secondary.text #recent a img {
    height: 70px;
  }


    /* .thumbnails */

  #m #secondary dl.subject {
    margin-top: -2.083em;
    padding: 0 10px;
  }

  #m.tall #secondary dl.subject {
    padding-right: 140px;
  }

  #m #secondary dl.subject dd {
    margin-left: -10px;
    margin-top: -4.16em;
    padding-left: 10px;
  }

  #m #secondary dl.subject dd a {
    margin-left: -10px;
    padding: 0 10px;
  }

  #m #secondary dl.subject dd strong {
    margin-left: -10px;
    padding: 0 10px;
  }

  #m #secondary p.thumbnails {
    background: #b4b4b4 url(../decor/background-secondary.jpg) repeat-y top left;
    height: 350px;
    width: 360px;
  }

  #m.tall #secondary p.thumbnails {
    margin-right: -130px;
    padding-right: 130px;
  }

  #m #secondary.text #recent a.index-2 img,
  #m #secondary.text #recent a.index-3 img,
  #m #secondary.text #recent a.index-4 img,
  #m #secondary.text #recent a.index-5 img,
  #m.awards #primary .winner img,
  #m.awards #primary #finalist img,
  #m #secondary p.thumbnails img {
    font-size: 10px;
    height: 70px;
    line-height: 12px;
    width: 70px;
  }

  #m #secondary.text #recent a.more img {
    font-size: 10px;
    height: 70px;
    line-height: 12px;
  }


    /* m.category */

  #m.category #secondary.thumbnails h1 {
    left: 15px;
    top: 75px;
  }

