body {
    font-family: helvetica, sans-serif;
}

body >del, body >ins {
    display: block;
}

address, caption, li.tocline4, p.caption {
    font-style: italic;
}

address {
    text-align: right;
}

a.descdef-title {
    background: green;
    color: yellow;
}

a.noxref:link, a.noxref:visited {
    color: black;
}

a.propdef-title {
    background: yellow;
}

caption, div.figure, div.navbar, p.caption {
    text-align: center;
}

caption, dt, li.tocline1, p.caption, .issue:before {
    font-weight: bold;
}

caption, pre, p.caption {
    font-size: 90%;
}

caption, p.caption {
    color: #088;
    margin: 1.5em 25% 0 25%;
}

del,
div.illegal-dtd-example,
div.illegal-example,
div.illegal-html-example,
div.illegal-xml-example,
pre.deprecated-html-example,
pre.illegal-dtd-example,
pre.illegal-example,
pre.illegal-html-example,
pre.illegal-xml-example,
s,
.issue,
.normref {
    color: red;
}

del, s {
    background: #fbb;
    text-decoration: line-through;
}

div.deprecated-html-example p,
div.illegal-dtd-example p,
div.illegal-example p,
div.illegal-html-example p,
div.illegal-xml-example p {
    color: black;
}

div.deprecated-html-example {
    color: red;
}

div.deprecated-html-example a:link, div.deprecated-html-example a:visited {
    color: red;
}

div.descdef th, div.propdef th {
    text-align: right;
}

div.dtd-example,
div.html-example,
div.xml-example,
pre.dtd-example,
pre.example,
pre.html-example,
pre.xml-example {
    color: maroon;
}

div.example {
    color: maroon;
}

div.example a:link, div.example a:visited {
    color: maroon;
}

div.figure {
    margin: 2.5em 0;
}

div.issue, p.issue {
    border: thin solid red;
    padding: 0.5em;
}

div.propdef {
    margin: 1.2em 0;
}

div.toc, dt, h2, h3, h4, h5, h6, ul.index {
    text-align: left;
}

div.toc ol ol {
    margin-left: 0;
}

div.toc ol ol ol {
    margin-left: 1em;
}

div.toc ol ol ol ol {
    margin-left: 0;
}

div.toc ul ul {
    margin-left: 0;
}

div.toc ul ul ul {
    margin-left: 1em;
}

div.toc ul ul ul ul {
    margin-left: 0;
}

h1 {
    clear: left;
    margin-top: 2em;
}

img {
    border: 0;
}

ins, u {
    background: #bfb;
    text-decoration: underline;
}

li.tocline2 {
    font-weight: normal;
}

pre, .note {
    margin-left: 1em;
}

pre {
    font-family: monospace;
}

p.toc-line, .note {
    margin-bottom: 1em;
    margin-top: 1em;
}

p.toc-line, .toc {
    text-indent: 0;
}

sup {
    font-size: 80%;
    vertical-align: super;
}

ul.index {
    list-style: none;
}

var {
    font-style: normal;
}

.informref {
    color: green;
}

.issue:before {
    background: red;
    color: white;
    content: "Issue:";
    margin: 0 1em 0 0;
    padding: 0 0.5em;
}

.note {
    color: green;
    margin-right: 1em;
}

.note a:link, .note a:visited {
    color: green;
}
