#m * { font-size: 12px; line-height: 25px }
#m p.feed, #m #etiol { height: 2.083em }
#m p.feed { background: #eee url(../decor/foot.png) no-repeat bottom left; width: 360px }
#m p.feed a { background: url(../decor/icon-rss.png) no-repeat left center; margin-left: 15px; padding-bottom: 1px; padding-left: 20px }
#m p.feed a:focus, #m p.feed a:hover { background: url(../decor/icon-rss-focus.png) no-repeat left center }
#m p.navigation a.next { background: url(../decor/icon-next.gif) no-repeat center center }
#m p.navigation a.next:focus, #m p.navigation a.next:hover { background: #fff url(../decor/icon-next-focus.gif) no-repeat center center }
#m p.navigation a.next:active { background: #ccc url(../decor/icon-next-active.gif) no-repeat center center }
#m p.navigation a.previous { background: url(../decor/icon-previous.gif) no-repeat center center }
#m p.navigation a.previous:focus, #m p.navigation a.previous:hover { background: #fff url(../decor/icon-previous-focus.gif) no-repeat center center }
#m p.navigation a.previous:active { background: #ccc url(../decor/icon-previous-active.gif) no-repeat center center }
#m p.navigation del.next { background: url(../decor/icon-next-disabled.gif) no-repeat center center }
#m p.navigation del.previous { background: url(../decor/icon-previous-disabled.gif) no-repeat center center }
#m #branding { background: url(../decor/slogan.png) no-repeat 360px 0 }
#m #branding dt a, #m #branding dt img { line-height: 65px }
#m #branding dt a { height: 65px; width: 350px }
#m #branding dt img { font-size: 24px; height: 85px; margin: -10px }
#m #branding dd { height: 65px; line-height: 12px; width: 350px }
#m #etiol { width: 560px }
#m #etiol small { padding-right: 15px }
#m #menu { margin-top: 75px }
#m #menu ul li a { background: #ddd url(../decor/head.png) no-repeat center top; padding: 0 5px }
#m #menu ul li a:focus, #m #menu ul li a:hover { background: #bbb url(../decor/menu-selected.png) repeat-x top }
#m #menu ul li strong a { background: #eee url(../decor/menu-focus.png) repeat-x top; padding: 0 5px }
#m #menu ul li strong a:focus, #m #menu ul li strong a:hover { background: #bbb url(../decor/menu-selected.png) repeat-x top }
#m #menu ul li.here strong { padding: 0 5px }
#m #menu #sections h2 { background: url(../decor/head.png) no-repeat right top; padding: 0 15px 0 10px }
#m #menu #subsections { width: 360px }
#m #menu #subsections h2 { background: url(../decor/head.png) no-repeat left top; padding: 0 10px 0 15px }
#m #menu #subsections ul li strong { padding: 0 5px }
#m #primary, #m #secondary { padding-bottom: 2.083em }
#m #primary.photo dl dd { line-height: 18px; margin: 60px 35px; padding: 13px 15px; width: 510px }
#m #primary.photo dl dd a { margin: -4px; padding: 3px }
#m #primary.photo p.navigation { background: #eee url(../decor/foot.png) no-repeat bottom right; padding-right: 12px; width: 548px }
#m #primary.text, #m #secondary.text { height: 320px; padding: 15px }
#m #primary.text { width: 530px }
#m #primary.text form { margin-top: 7px }
#m #primary.text form table tr.message td textarea { height: 13.5em; line-height: 18px; margin: 2px 0; padding: 3px; width: 522px }
#m #primary.text form table tr.submit td input, #m #primary.text form table tr.textbox td input { padding: 3px }
#m #primary.text form table tr.submit td input { margin-top: 3px }
#m #primary.text form table tr.textbox th { width: 130px }
#m #primary.text form table tr.textbox td input { margin: 2px 0; width: 392px }
#m #primary.text h1, #m #primary.text p { line-height: 18px }
#m #primary.text h1 { font-size: 18px }
#m #primary.text p { margin-top: 12px }
#m #primary.text p a { line-height: 12px }
#m #primary.text .winner h3, #m #primary.text #finalist h3 { font-size: 18px; line-height: 24px; margin-bottom: 10px; margin-left: 5px }
#m #primary.text .winner img, #m #primary.text #finalist img { height: 70px }
#m #primary.text .winner ul li, #m #primary.text #finalist ul li { margin-left: 5px }
#m #primary.text .winner { width: 455px }
#m #primary.text .winner img { margin-left: -80px }
#m #primary.text .winner ul li a { line-height: 14px }
#m #primary.text #colsa { background: #a4a4a4 url(../decor/background-primary-emphasis.jpg) -90px -95px }
#m #primary.text #finalist { background: #a4a4a4 url(../decor/background-primary-emphasis.jpg) -15px -265px; margin-top: 10px; width: 380px }
#m #primary.text #finalist h3 { margin-bottom: 13px }
#m #primary.text #finalist h3 a#catwalk-star { right: 90px }
#m #primary.text #finalist h3 a#no-life { right: 15px }
#m #primary.text #finalist ul li { line-height: 14px }
#m #primary.text #nikon_ae { background: #a4a4a4 url(../decor/background-primary-emphasis.jpg) -90px -15px }
#m #primary.text #times_tabasco { background: #a4a4a4 url(../decor/background-primary-emphasis.jpg) -90px -175px }
#m #secondary { background: #b4b4b4 url(../decor/background-secondary.jpg) repeat-y left top }
#m #secondary dl.subject { margin-top: -2.083em }
#m #secondary dl.subject dd { margin-top: -4.16em; padding-left: 10px }
#m #secondary dl.subject dd a, #m #secondary dl.subject dd strong { margin-left: -10px; padding: 0 10px }
#m #secondary p.thumbnails { background: #b4b4b4 url(../decor/background-secondary.jpg) repeat-y top left; height: 350px; width: 360px }
#m #secondary p.thumbnails img { font-size: 10px; height: 70px; line-height: 12px; width: 70px }
#m #secondary.photo dt img { height: 350px }
#m #secondary.photo dd { background: #eee url(../decor/foot.png) no-repeat bottom left; padding-left: 15px; width: 905px }
#m #secondary.text { padding-right: 25px }
#m #secondary.text h2, #m #secondary.text p.description { line-height: 18px }
#m #secondary.text h2 { font-size: 18px; margin-bottom: 10px; margin-top: 12px }
#m #secondary.text h2.first { margin-top: 0 }
#m #secondary.text p.newsflash { background: #a4a4a4 url(../decor/background-secondary-emphasis.jpg) -15px -15px; padding: 2px 5px }
#m #secondary.text p.newsflash strong { line-height: 18px }
#m #secondary.text #recent { background: url(../decor/background-secondary.jpg) -15px 100% }
#m #secondary.text #recent a img, #m #secondary.text #recent a.index-2 img, #m #secondary.text #recent a.index-3 img, #m #secondary.text #recent a.index-4 img, #m #secondary.text #recent a.index-5 img, #m #secondary.text #recent a.more img { height: 70px }
#m #secondary.text #recent a { bottom: 15px }
#m #secondary.text #recent a.index-2 img, #m #secondary.text #recent a.index-3 img, #m #secondary.text #recent a.index-4 img, #m #secondary.text #recent a.index-5 img, #m #secondary.text #recent a.more img { font-size: 10px; line-height: 12px }
#m #secondary.text #recent a.index-2 img, #m #secondary.text #recent a.index-3 img, #m #secondary.text #recent a.index-4 img, #m #secondary.text #recent a.index-5 img { width: 70px }
#m #secondary.text #recent a.index-3 { left: 75px }
#m #secondary.text #recent a.index-4 { left: 150px }
#m #secondary.text #recent a.index-5 { left: 225px }
#m #secondary.text #recent a.more { background: url(../decor/background-secondary-emphasis.jpg) -315px -265px; left: 300px }
#m #secondary.text #recent a.more:focus, #m #secondary.text #recent a.more:hover { background: url(../decor/icon-more-focus.png) no-repeat top left }
#m #secondary.text #recent a.more:active { background: url(../decor/icon-more-active.png) no-repeat top left }
#m #secondary.text #recent h2 { margin-bottom: 95px; padding-top: 5px; width: 320px }
#m #secondary.thumbnails p.navigation { background: #eee url(../decor/foot.png) no-repeat bottom left; padding-left: 12px; width: 478px }
#m #vc1 { width: 920px }
#m.about #menu #sections, #m.category #menu #sections { width: 920px }
#m.awards #etiol, #m.contact #etiol, #m.error #etiol { background: #eee url(../decor/foot.png) no-repeat bottom right }
#m.awards #primary.text, #m.contact #primary.text, #m.error #primary.text { padding-left: 375px }
#m.awards #etiol { width: 920px }
#m.awards #menu #sections { width: 920px }
#m.awards #primary .winner img, #m.awards #primary #finalist img { font-size: 10px; height: 70px; line-height: 12px; width: 70px }
#m.awards #primary.text { background: #b4b4b4 url(../decor/background-photo-tabasco.jpg) no-repeat left top }
#m.bono #primary.photo dl dd, #m.classroom #primary.photo dl dd, #m.event-horizon #primary.photo dl dd, #m.gordon-brown-2-moving-in #primary.photo dl dd, #m.horseplay #primary.photo dl dd, #m.napoli-and-coastguard #primary.photo dl dd, #m.napoli-tanker #primary.photo dl dd, #m.phil-bardsley-and-eddie-hutchinson #primary.photo dl dd, #m.samir-durrani-2-freefall #primary.photo dl dd { bottom: auto; top: -25px }
#m.category #primary.text * { line-height: 24px }
#m.category #primary.text h2 { font-size: 18px; line-height: 18px; margin-bottom: 9px }
#m.category #primary.text li strong { margin: -3px -5px; padding: 2px 4px }
#m.category #primary.text p.a-z, #m.category #primary.text ul { margin-bottom: 15px }
#m.category #primary.text p.a-z { margin-top: 0px }
#m.category #primary.text p.a-z a { font-size: 18px; line-height: 18px }
#m.category #primary.text ul li { margin-right: 10px }
#m.category #secondary.thumbnails h1 { left: 15px; top: 75px }
#m.category #secondary.thumbnails p.navigation { width: 908px }
#m.contact #etiol, #m.error #etiol { width: 920px }
#m.contact #primary.text { background: #b4b4b4 url(../decor/background-photo-soldier.jpg) no-repeat left top }
#m.error #primary.text { background: #b4b4b4 url(../decor/background-exclaim.jpg) no-repeat left top }
#m.tall p.feed, #m.tall #branding, #m.tall #menu, #m.tall #secondary { width: 490px }
#m.tall p.feed { background-image: url(../decor/foot-secondary.png) }
#m.tall #contact, #m.tall #primary { width: 420px }
#m.tall #contact { background: #ddd url(../decor/head-primary.png) no-repeat center top; height: 2.083em }
#m.tall #contact address.email { padding-left: 15px }
#m.tall #contact address.telephone { padding-right: 15px }
#m.tall #menu { background: #ddd url(../decor/head-secondary.png) no-repeat center top }
#m.tall #menu #sections { left: 360px; width: 130px }
#m.tall #menu #sections ul li a, #m.tall #menu #sections ul li strong { width: 110px }
#m.tall #menu #sections ul li a { padding-right: 15px }
#m.tall #menu #sections ul li strong a { padding-right: 15px }
#m.tall #primary { background: #b4b4b4 url(../decor/background-primary.jpg) 100% 75px; height: 425px; margin-top: 2.083em }
#m.tall #primary.photo dl { height: 425px }
#m.tall #primary.photo h1 { padding-left: 15px }
#m.tall #primary.photo p.navigation { background: #eee url(../decor/foot-primary.png) no-repeat bottom right; width: 408px }
#m.tall #secondary dl.subject { padding-right: 140px }
#m.tall #secondary p.thumbnails { margin-right: -130px; padding-right: 130px }
#m.tall #secondary.thumbnails p.navigation { background: #eee url(../decor/foot-secondary.png) no-repeat bottom left }
#m.tall.root #menu #sections ul { background: #ccc url(../decor/background-secondary.jpg) no-repeat right bottom; height: 349px }
#m.wide #branding { width: 480px }
#m.wide #contact { background: #999 url(../decor/slogan-extend.png) repeat-x; height: 65px; width: 440px }
#m.wide #contact address { line-height: 12px; padding-right: 15px }
#m.wide #contact address.email { bottom: 14px }
#m.wide #contact address.email a { line-height: 12px }
#m.wide #contact address.telephone { background: url(../decor/slogan-extend-cap.png) no-repeat right top; height: 52px; padding-top: 13px }
#m.wide #menu { background: #ddd url(../decor/head.png) no-repeat center top; width: 920px }
#m.wide #menu #sections { width: 560px }
#m.wide #primary { background: #b4b4b4 url(../decor/background-primary.jpg) right top; height: 350px; width: 560px }
#m.wide #secondary { width: 360px }
