

    /* branding */

  #branding {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
  }

  #branding dt a {
    color: #fff;
    left: 0;
    letter-spacing: 1px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 0;
  }

  #branding dt a img {
    display: block;
    z-index: 1;
  }

  #branding dt a:focus img,
  #branding dt a:hover img {
    background: #666;
  }

  #branding dd {
    color: #919191;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: -1;
  }


    /* contact */

  #contact {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }

  #contact address {
    font-style: normal;
    position: absolute;
  }

  .wide #contact address {
    right: 0;
  }

  .tall #contact address.email {
    left: 0;
  }

  .tall #contact address.telephone {
    right: 0;
  }

  .wide #contact address.telephone {
    color: #111;
  }

  #contact address.email a {
    color: #111;
    text-decoration: none;
  }

  .tall #contact address.email a:focus,
  .tall #contact address.email a:hover {
    text-decoration: underline;
  }

  .wide #contact address.email a:focus,
  .wide #contact address.email a:hover {
    color: #ddd;
  }

  .tall #contact address.email a:active {
    color: #000;
  }

  .wide #contact address.email a:active {
    color: #fff;
  }
