

    /* center */

  html, body {
    background: #555;
    height: 100%;
    margin: auto;
  }

  #vc1 {
    display: table;
    height: 100%;
    overflow: visible;
  }

  #vc2 {
    display: table-cell;
    position: relative;
    vertical-align: middle;
  }

  #vc3 {
    position: relative;
  }


    /* universal */

  * {
    border: none;
    font-family: Verdana, "Bitstream Vera Sans", sans-serif;
    margin: 0;
    padding: 0;
  }

  del {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  table {
    border-collapse: collapse;
  }


    /* foot: .subject, h1 */

  p.feed a,
  #primary.photo h1 small,
  #primary.photo h1 small a,
  #secondary.thumbnails dl.subject dt,
  #secondary.thumbnails dl.subject dt a {
    color: #777;
    text-decoration: none;
    font-weight: normal;
  }

  p.feed a:focus,
  p.feed a:hover,
  #primary.photo h1 small a:focus,
  #primary.photo h1 small a:hover,
  #secondary.thumbnails dl.subject dt a:focus,
  #secondary.thumbnails dl.subject dt a:hover {
    color: #333;
    text-decoration: underline;
  }

  p.feed a:active,
  #primary.photo h1 small a:active,
  #secondary.thumbnails dl.subject dt a:active {
    color: #111;
  }

  #primary.photo h1 small strong,
  #secondary.thumbnails dl.subject dt strong {
    font-weight: bolder;
  }


    /* foot: navigation */

  #primary.photo p.navigation {
    display: block;
    float: right;
    text-align: right;
  }

  #secondary.thumbnails p.navigation {
    display: block;
    float: left;
  }

  p.navigation a {
    text-decoration: none;
  }

  p.navigation a:focus,
  p.navigation a:hover {
    outline: #ccc 1px solid;
  }

  p.navigation a:active {
    outline: #aaa 1px solid;
  }

  p.navigation a img {
    visibility: hidden;
  }

  p.navigation del img {
    visibility: hidden;
  }


    /* foot: etiol */

  #etiol {
    float: right;
  }

  #etiol a {
    color: #777;
    text-decoration: none;
  }

  #etiol a:focus,
  #etiol a:hover {
    color: #333;
    text-decoration: underline;
  }

  #etiol a:active {
    color: #111;
  }

  #etiol small {
    color: #777;
    display: block;
    text-align: right;
  }


    /* foot: feed */

  p.feed {
    float: left;
  }

  p.feed a img {
    display: none;
  }

