
  #menu {
    color: #333;
    float: left;
  }

  .tall #menu #sections {
    margin: 0;
    padding: 0;
    position: absolute;
  }

  .wide #menu #sections {
    float: right;
  }

  #menu #subsections {
    float: left;
  }

  #menu h2 {
    color: #555;
    font-weight: bolder;
  }

  #menu #sections h2 {
    border-left: 1px solid #bbb;
    float: right;
  }

  .tall #menu #sections h2 {
    border: none;
  }

  #menu #subsections h2 {
    border-right: 1px solid #bbb;
    float: left;
  }

  #menu #subsections h2 a {
    color: #555;
    text-decoration: none;
  }

  #menu #subsections h2 a:focus,
  #menu #subsections h2 a:hover {
    color: #333;
    text-decoration: underline;
  }

  #menu #subsections h2 a:active {
    color: #111;
  }

  #menu #sections ul {
    float: right;
  }

  .tall #menu #sections ul {
    border-bottom: 1px solid #bbb;
    float: right;
  }

  .tall.root #menu #sections ul {
    border-bottom: none;
    border-top: 1px solid #bbb;
  }

  #menu #subsections ul {
    float: left;
  }

  #menu ul li {
    display: inline;
  }

  #menu ul li a {
    color: #333;
    float: left;
    text-decoration: none;
  }

  #menu ul li a:focus,
  #menu ul li a:hover {
    color: #111;
  }

  #menu #sections ul li a,
  #menu #sections ul li strong {
    border-left: 1px solid #bbb;
  }

  .tall #menu #sections ul li a,
  .tall #menu #sections ul li strong {
    background: #ddd;
    border-left: none;
    border-top: 1px solid #bbb;
    text-align: right;
  }

  .tall #menu #sections ul li a:focus,
  .tall #menu #sections ul li a:hover,
  .tall #menu #sections ul li strong a:focus,
  .tall #menu #sections ul li strong a:hover {
    background: #bbb;
  }

  #menu ul li strong {
    float: left;
    font-weight: normal;
  }

  .tall #menu #sections ul li strong {
    background: #eee;
    border: none;
  }

  #menu #sections ul li strong a {
    border: none;
  }

  .tall #menu #sections ul li strong a {
    background: #eee;
  }

  #menu #subsections ul li a {
    border-right: 1px solid #bbb;
  }

  #menu #subsections ul li strong {
    border-right: 1px solid #bbb;
  }
