

    /* GENERAL */

  #primary {
    float: right;
    position: relative;
  }


    /* .photo */

  #primary.photo h1 {
    bottom: 0;
    color: #555;
    font-weight: bolder;
    position: absolute;
  }

  #primary.photo dl {
    display: block;
  }

  #primary.photo dl dt {
    text-align: center;
  }

  #primary.photo dl dt a {
    display: block;
  }

  #primary.photo dl dt img {
    display: block;
  }

  #primary.photo dl dd {
    background: #eee;
    bottom: 0;
    color: #000;
    opacity: 0.9;
    position: absolute;
    text-align: justify;
    visibility: hidden;
  }

  #primary.photo dl:hover dd {
    visibility: visible;
  }

  #primary.photo dl dd a {
    border: 1px #eee solid;
    color: #555;
    font-weight: bolder;
    text-decoration: underline;
  }

  #primary.photo dl dd a:focus,
  #primary.photo dl dd a:hover {
    background: #fff;
    border: 1px #ccc solid;
    color: #333;
  }

  #primary.photo dl dd a:active {
    border: 1px #aaa solid;
    color: #111;
    opacity: 1.0;
  }


    /* primary.text */

  #primary.text {
    overflow: auto;
    padding-bottom: 0;
  }

  #primary.text h1 {
    color: #555;
    font-weight: normal;
  }

  #primary.text p {
    color: #111;
    text-align: justify;
  }

  #primary.text a {
    color: #12a;
    text-decoration: underline;
  }

  #primary.text a:visited {
    color: #346;
  }

  #primary.text a:focus,
  #primary.text a:hover {
    color: #24b;
  }

  #primary.text a:active {
    color: #36e;
  }


    /* .awards */

  .awards #primary h1 {
    display: none;
  }

  #primary.text .winner {
    float: right;
  }

  #primary.text .winner img {
    float: left;
  }

  #primary.text #finalist {
    float: left;
  }

  #primary.text .winner h3,
  #primary.text #finalist h3 {
    color: #555;
    font-weight: normal;
  }

  #primary.text #finalist h3 a {
    position: absolute;
  }

  .awards #primary.text a:focus img,
  .awards #primary.text a:hover img {
    background: #bbb;
    opacity: 0.8;
  }

  #primary.text .winner ul li,
  #primary.text #finalist ul li {
    color: #111;
  }

  #primary.text .winner ul li a {
    text-decoration: none;
  }

  #primary.text .winner ul li a:focus,
  #primary.text .winner ul li a:hover {
    text-decoration: underline;
  }


    /* .category */

  .category #primary.text p.a-z a {
    color: #12a;
    text-decoration: none;
  }

  .category #primary.text p.a-z a:focus,
  .category #primary.text p.a-z a:hover {
    text-decoration: underline;
  }

  .category #primary.text h2 {
    color: #555;
    font-weight: normal;
  }

  .category #primary.text li {
    display: inline;
  }

  .category #primary.text li strong {
    font-weight: normal;
    background: #ddd;
    border: 1px #888 solid;
    color: #333;
  }


    /* .contact */

  #primary.text form table tr.textbox th {
    color: #333;
    font-weight: normal;
  }

  #primary.text form table tr.textbox th label {
    font-weight: bold;
  }

  #primary.text form table tr.textbox td input,
  #primary.text form table tr.message td textarea {
    background: #eee;
    color: #000;
    border: 1px #888 solid;
    opacity: 0.7;
  }

  #primary.text form table tr.textbox td input:focus,
  #primary.text form table tr.message td textarea:focus {
    background: #fff;
    opacity: 0.8;
  }

  #primary.text form table tr.submit td input {
    background: #aaa;
    border: 1px #555 solid;
    color: #111;
    font-weight: bolder;
  }

  #primary.text form table tr.submit td input:focus,
  #primary.text form table tr.submit td input:hover {
    background: #ccc;
    color: #111;
  }

  #primary.text form table tr.submit td input:active {
    background: #888;
    color: #fff;
  }
