

    /* GENERAL */

  #secondary {
    float: left;
  }


    /* .photo */

  #secondary.photo dd {
    color: #777;
  }

  #secondary.photo dd a {
    color: #777;
    text-decoration: none;
  }

  #secondary.photo dd a:focus,
  #secondary.photo dd a:hover {
    color: #333;
    text-decoration: underline;
  }

  #secondary.photo dd a:active {
    color: #111;
  }

  #secondary.photo img {
    display: block;
  }


    /* .text */

  #secondary.text {
    overflow: hidden;
    position: relative;
  }

  #secondary.text h2 {
    color: #555;
    font-weight: normal;
  }

  div#secondary.text div#recent h2 {
    border-top: 1px solid #999;
    margin-top: 0;
  }

  #secondary.text p.description {
    text-align: justify;
  }

  #secondary.text p.newsflash a {
    line-height: 1em;
  }

  #secondary.text #recent {
    position: absolute;
    bottom: 0;
  }

  #secondary.text #recent a {
    display: block;
    position: absolute;
  }

  #secondary.text #recent a.index-2 {
    left: 0;
  }

  #secondary.text #recent a.index-2:focus,
  #secondary.text #recent a.index-2:hover,
  #secondary.text #recent a.index-3:focus,
  #secondary.text #recent a.index-3:hover,
  #secondary.text #recent a.index-4:focus,
  #secondary.text #recent a.index-4:hover,
  #secondary.text #recent a.index-5:focus,
  #secondary.text #recent a.index-5:hover {
    background: #bbb;
    opacity: 0.8;
  }

  #secondary.text #recent a.more:focus img,
  #secondary.text #recent a.more:hover img,
  #secondary.text #recent a.more:active img {
    visibility: hidden;
  }

  #secondary.text #recent a img {
    display: block;
  }


    /* .thumbnails */

  #secondary.thumbnails dl.subject {
    bottom: 0;
    color: #777;
    float: right;
    right: 0;
    top: auto;
  }

  #secondary.thumbnails dl.subject dd {
    background: #eee;
    opacity: 0.8;
    visibility: hidden;
  }

  #secondary.thumbnails dl.subject:hover dd{
    visibility: visible;
  }

  #secondary.thumbnails dl.subject dd a {
    color: #000;
    display: block;
    text-decoration: none;
  }

  #secondary.thumbnails dl.subject dd a:focus,
  #secondary.thumbnails dl.subject dd a:hover {
    background: #fff;
    color: #000;
  }

  #secondary.thumbnails dl.subject dd a:active {
    background: #ddd;
  }

  #secondary.thumbnails dl.subject dd strong {
    color: #555;
    display: block;
    font-weight: bolder;
  }

  #secondary.thumbnails dl.subject dt {
    text-align: right;
  }

  #secondary.thumbnails dl.subject dt strong {
    color: #999;
  }

  #secondary.thumbnails h1,
  #secondary.thumbnails h2 {
    display: none;
  }

  #secondary.thumbnails p.thumbnails {
    float: left;
  }

  #secondary.thumbnails p.thumbnails a:focus img,
  #secondary.thumbnails p.thumbnails a:hover img {
    background: #bbb;
    opacity: 0.8;
  }

  #secondary.thumbnails p.thumbnails img {
    float: left;
    text-align: center;
  }


    /* .category */

  body.category #secondary.thumbnails h1 {
    color: #555;
    display: block;
    position: absolute;
  }

