

    /* branding */

  #s #branding {
    background: url(../decor/slogan.png) no-repeat 288px 0;
    height: 52px;
  }

  #s.tall #branding {
    width: 392px;
  }

  #s.wide #branding {
    width: 384px;
  }

  #s #branding dt a {
    height: 52px;
    line-height: 52px;
    width: 280px;
  }

  #s #branding dt img {
    font-size: 20px;
    height: 68px;
    line-height: 52px;
    margin: -8px;
  }

  #s #branding dd {
    height: 52px;
    line-height: 10px;
    width: 280px;
  }


    /* contact */

  #s.tall #contact {
    background: #ddd url(../decor/head-primary.png) no-repeat center top;
    height: 2.0em;
    width: 336px;
  }

  #s.wide #contact {
    background: #999 url(../decor/slogan-extend.png) repeat-x;
    height: 52px;
    width: 352px;
  }

  #s.wide #contact address {
    line-height: 10px;
    padding-right: 12px;
  }

  #s.tall #contact address.email {
    padding-left: 12px;
  }

  #s.wide #contact address.email {
    bottom: 11px;
  }

  #s.tall #contact address.telephone {
    padding-right: 12px;
  }

  #s.wide #contact address.telephone {
    background: url(../decor/slogan-extend-cap.png) no-repeat right top;
    height: 42px;
    padding-top: 10px;
  }

  #s.wide #contact address.email a {
    line-height: 10px;
  }
