

    /* center */

  #s,
  #s #vc1 {
    width: 736px;
  }


    /* universal */

  #s * {
    font-size: 10px;
    line-height: 20px;
  }


    /* foot: navigation */

  #s #primary.photo p.navigation {
    background: #eee url(../decor/foot.png) no-repeat bottom right;
    padding-right: 10px;
    width: 438px;
  }

  #s.tall #primary.photo p.navigation {
     background: #eee url(../decor/foot-primary.png) no-repeat bottom right;
     width: 326px;
  }

  #s #secondary.thumbnails p.navigation {
    background: #eee url(../decor/foot.png) no-repeat bottom left;
    padding-left: 10px;
    width: 382px;
  }

  #s.tall #secondary.thumbnails p.navigation {
    background: #eee url(../decor/foot-secondary.png) no-repeat bottom left;
  }

  #s.category #secondary.thumbnails p.navigation {
    width: 726px;
  }

  #s p.navigation a.next {
    background: url(../decor/icon-next.gif) no-repeat center center;
  }

  #s p.navigation a.next:focus,
  #s p.navigation a.next:hover {
    background: #fff url(../decor/icon-next-focus.gif) no-repeat center center;
  }

  #s p.navigation a.next:active {
    background: #ccc url(../decor/icon-next-active.gif) no-repeat center center;
  }

  #s p.navigation a.previous {
    background: url(../decor/icon-previous.gif) no-repeat center center;
  }

  #s p.navigation a.previous:focus,
  #s p.navigation a.previous:hover {
    background: #fff url(../decor/icon-previous-focus.gif) no-repeat center center;
  }

  #s p.navigation a.previous:active {
    background: #ccc url(../decor/icon-previous-active.gif) no-repeat center center;
  }

  #s p.navigation del.next {
    background: url(../decor/icon-next-disabled.gif) no-repeat center center;
  }

  #s p.navigation del.previous {
    background: url(../decor/icon-previous-disabled.gif) no-repeat center center;
  }


    /* foot: etiol */

  #s #etiol {
    height: 2.0em;
    width: 448px;
  }

  #s #etiol small {
    padding-right: 12px;
  }

  #s.awards #etiol,
  #s.error #etiol,
  #s.contact #etiol {
    background: #eee url(../decor/foot.png) no-repeat bottom right;
    width: 736px;
  }


    /* foot: feed */

  #s p.feed {
    background: #eee url(../decor/foot.png) no-repeat bottom left;
    height: 2.0em;
    width: 288px;
  }

  #s.tall p.feed {
    background-image: url(../decor/foot-secondary.png);
    width: 392px;
  }

  #s p.feed a {
    margin-left: 12px;
    padding-left: 16px;
  }

  #s p.feed a {
    background: url(../decor/icon-rss.png) no-repeat left center;
  }

  #s p.feed a:focus,
  #s p.feed a:hover {
    background: url(../decor/icon-rss-focus.png) no-repeat left center;
  }


    /* exceptions */

  #s.phil-bardsley-and-eddie-hutchinson #primary.photo dl dd,
  #s.bono #primary.photo dl dd,
  #s.gordon-brown-2-moving-in #primary.photo dl dd,
  #s.classroom #primary.photo dl dd,
  #s.samir-durrani-2-freefall #primary.photo dl dd,
  #s.event-horizon #primary.photo dl dd,
  #s.napoli-and-coastguard #primary.photo dl dd,
  #s.napoli-tanker #primary.photo dl dd,
  #s.horseplay #primary.photo dl dd {
    bottom: auto;
    top: -20px;
  }
