
  #s #menu {
    margin-top: 60px;
  }

  #s.tall #menu {
    background: #ddd url(../decor/head-secondary.png) no-repeat center top;
    width: 392px;
  }

  #s.wide #menu {
    background: #ddd url(../decor/head.png) no-repeat center top;
    width: 736px;
  }

  #s.tall #menu #sections {
    left: 288px;
    width: 104px;
  }

  #s.wide #menu #sections {
    width: 448px;
  }

  #s.about #menu #sections,
  #s.awards #menu #sections,
  #s.category #menu #sections {
    width: 736px;
  }

  #s #menu #subsections {
    width: 288px;
  }

  #s #menu #sections h2 {
    background: url(../decor/head.png) no-repeat right top;
    padding: 0 12px 0 8px;
  }

  #s #menu #subsections h2 {
    background: url(../decor/head.png) no-repeat left top;
    padding: 0 8px 0 12px;
  }

  #s.tall.root #menu #sections ul {
    height: 279px;
    background: #ccc url(../decor/background-secondary.jpg) no-repeat right bottom;
  }


  #s #menu ul li a {
    background: #ddd url(../decor/head.png) no-repeat center top;
    padding: 0 4px;
  }

  #s.tall #menu #sections ul li a,
  #s.tall #menu #sections ul li strong {
    padding-right: 12px;
    width: 88px;
  }

  #s #menu ul li a:focus,
  #s #menu ul li a:hover,
  #s #menu ul li strong a:focus,
  #s #menu ul li strong a:hover {
    background: #bbb url(../decor/menu-selected.png) repeat-x top;
  }

  #s #menu ul li strong {
    background: #eee url(../decor/menu-focus.png) repeat-x top;
  }

  #s #menu #subsections ul li strong {
    padding: 0 4px;
  }

  #s #menu ul li.here strong {
    padding: 0 4px;
  }

  #s #menu ul li strong a {
    background: #eee url(../decor/menu-focus.png) repeat-x top;
    padding: 0 4px;
  }

  #s.tall #menu #sections ul li strong a {
    padding-right: 12px;
  }
