

    /* GENERAL */

  #s #primary {
    padding-bottom: 2.0em;
  }

  #s.tall #primary {
    background: #b4b4b4 url(../decor/background-primary.jpg) 100% 60px;
    height: 340px;
    margin-top: 2.0em;
    width: 336px;
  }

  #s.wide #primary {
    background: #b4b4b4 url(../decor/background-primary.jpg) right top;
    height: 280px;
    width: 448px;
  }


    /* .photo */

  #s.tall #primary.photo h1 {
    padding-left: 12px;
  }

  #s.tall #primary.photo dl {
    height: 340px;
  }

  #s #primary.photo dl dd {
    line-height: 14px;
    margin: 48px 28px;
    padding: 10px 12px;
    width: 408px;
  }

  #s #primary.photo dl dd a {
    margin: -4px;
    padding: 2px;
  }


    /* primary.text */

  #s #primary.text {
    height: 256px;
    padding: 12px;
    width: 424px;
  }

  #s #primary.text h1 {
    line-height: 14px;
    font-size: 14px;
  }

  #s #primary.text p {
    line-height: 14px;
    margin-top: 10px;
  }

  #s #primary.text p a {
    line-height: 10px;
  }


    /* m.awards */

  #s.awards #primary.text {
    background: url(../decor/background-photo-tabasco.jpg) no-repeat left top;
    padding-left: 300px;
  }

  #s #primary.text .winner {
    margin-bottom: 8px;
    width: 364px;
  }

  #s #primary.text #nikon_ae {
    background: #a4a4a4 url(../decor/background-primary-emphasis.jpg) -72px -12px;
  }

  #s #primary.text #colsa {
    background: #a4a4a4 url(../decor/background-primary-emphasis.jpg) -72px -76px;
  }

  #s #primary.text #times_tabasco {
    background: #a4a4a4 url(../decor/background-primary-emphasis.jpg) -72px -140px;
  }

  #s #primary.text .winner img {
    height: 56px;
    margin-left: -64px;
  }

  #s #primary.text #finalist {
    background: #a4a4a4 url(../decor/background-primary-emphasis.jpg) -12px -212px;
    height: 56px;
    margin-top: 8px;
    width: 304px;
  }

  #s #primary.text #finalist img {
    height: 56px;
  }

  #s #primary.text .winner h3,
  #s #primary.text #finalist h3 {
    font-size: 14px;
    line-height: 19px;
    margin-left: 4px;
    margin-bottom: 8px;
  }

  #s #primary.text #finalist h3 {
    margin-bottom: 10px; /* 2px float-absolute difference */
  }

  #s #primary.text #finalist h3 a#catwalk-star {
    right: 72px;
  }

  #s #primary.text #finalist h3 a#no-life {
    right: 12px;
  }

  #s #primary.text .winner ul li,
  #s #primary.text #finalist ul li {
    line-height: 11px;
    margin-left: 4px;
  }

  #s #primary.text .winner ul li a {
    line-height: 11px;
  }


    /* m.category */

  #s.category #primary.text * {
    line-height: 19px;
  }

  #s.category #primary.text p.a-z {
    line-height: 14px;
    font-size: 14px;
    margin-bottom: 12px;
    margin-top: 0px; /* specificity problem if left in x/- */
  }

  #s.category #primary.text p.a-z a {
    line-height: 14px;
    font-size: 14px;
  }

  #s.category #primary.text h2 {
    line-height: 14px;
    font-size: 14px;
    margin-bottom: 7px;
  }

  #s.category #primary.text ul {
    margin-bottom: 12px;
  }

  #s.category #primary.text ul li {
    margin-right: 8px;
  }

  #s.category #primary.text li strong {
    padding: 2px 3px;
    margin: -2px -4px;
  }


    /* .contact */

  #s.contact #primary.text {
    background: #b4b4b4 url(../decor/background-photo-soldier.jpg) no-repeat left top;
    padding-left: 300px;
  }

  #s.error #primary.text {
    background: #b4b4b4 url(../decor/background-exclaim.jpg) no-repeat left top;
    padding-left: 300px;
  }

  #s #primary.text form {
    margin-top: 6px;
  }

  #s #primary.text form table tr.textbox th {
    width: 104px;
  }

  #s #primary.text form table tr.textbox td input,
  #s #primary.text form table tr.message td textarea {
    padding: 2px;
    margin: 2px 0;
  }

  #s #primary.text form table tr.textbox td input {
    width: 314px;
  }

  #s #primary.text form table tr.submit td input {
    padding: 2px;
    margin-top: 2px;
  }

  #s #primary.text form table tr.message td textarea {
    line-height: 14px;
    width: 418px;
    height: 12.5em;
  }
