

    /* GENERAL */

  #s #secondary {
    background: #b4b4b4 url(../decor/background-secondary.jpg) repeat-y left top;
    height: 280px;
    padding-bottom: 2.0em;
  }

  #s.tall #secondary {
    width: 392px;
  }

  #s.wide #secondary {
    width: 288px;
  }


    /* .photo */

  #s #secondary.photo dt img {
    height: 280px;
  }

  #s #secondary.photo dd {
    background: #eee url(../decor/foot.png) no-repeat bottom left;
    padding-left: 12px;
    width: 724px;
  }


    /* .text */

  #s #secondary.text {
    height: 256px;
    padding: 12px;
    padding-right: 20px;
    width: 256px;
  }

  #s #secondary.text h2 {
    line-height: 14px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 8px;
  }

  #s #secondary.text h2.first {
    margin-top: 0;
  }

  #s #secondary.text p.newsflash {
    background: #a4a4a4 url(../decor/background-secondary-emphasis.jpg) -12px -12px;
    line-height: 14px;
    padding: 2px 4px;
  }

  #s #secondary.text p.newsflash strong {
    line-height: 14px;
  }

  #s #secondary.text p.description {
    line-height: 14px;
  }

  #s #secondary.text #recent {
    background: url(../decor/background-secondary.jpg) -12px 100%;
  }

  #s #secondary.text #recent h2 {
    margin-bottom: 76px;
    padding-top: 4px;
    width: 256px;
  }

  #s #secondary.text #recent a {
    bottom: 12px;
  }

  #s #secondary.text #recent a.index-3 {
    left: 60px;
  }

  #s #secondary.text #recent a.index-4 {
    left: 120px;
  }

  #s #secondary.text #recent a.index-5 {
    left: 180px;
  }

  #s #secondary.text #recent a.more {
    background: url(../decor/background-secondary-emphasis.jpg) -252px -212px;
    left: 240px;
  }

  #s #secondary.text #recent a.more:focus,
  #s #secondary.text #recent a.more:hover {
    background: url(../decor/icon-more-focus.png) no-repeat top left;
  }

  #s #secondary.text #recent a.more:active {
    background: url(../decor/icon-more-active.png) no-repeat top left;
  }

  #s #secondary.text #recent a img {
    height: 56px;
  }


    /* .thumbnails */

  #s #secondary dl.subject {
    margin-top: -2.0em;
    padding: 0 8px;
  }

  #s.tall #secondary dl.subject {
    padding-right: 112px;
  }

  #s #secondary dl.subject dd {
    margin-left: -8px;
    margin-top: -4.0em;
    padding-left: 8px;
  }

  #s #secondary dl.subject dd a {
    margin-left: -8px;
    padding: 0 8px;
  }

  #s #secondary dl.subject dd strong {
    margin-left: -8px;
    padding: 0 8px;
  }

  #s #secondary p.thumbnails {
    background: #b4b4b4 url(../decor/background-secondary.jpg) repeat-y top left;
    height: 280px;
    width: 288px;
  }

  #s.tall #secondary p.thumbnails {
    margin-right: -104px;
    padding-right: 104px;
  }

  #s #secondary.text #recent a.index-2 img,
  #s #secondary.text #recent a.index-3 img,
  #s #secondary.text #recent a.index-4 img,
  #s #secondary.text #recent a.index-5 img,
  #s.awards #primary .winner img,
  #s.awards #primary #finalist img,
  #s #secondary p.thumbnails img {
    font-size: 8px;
    height: 56px;
    line-height: 10px;
    width: 56px;
  }

  #s #secondary.text #recent a.more img {
    font-size: 8px;
    height: 56px;
    line-height: 10px;
  }


    /* s.category */

  #s.category #secondary.thumbnails h1 {
    left: 12px;
    top: 60px;
  }

