

    /* center */

  #l,
  #l #vc1 {
    width: 1104px;
  }


    /* universal */

  #l * {
    font-size: 14px;
    line-height: 30px;
  }


    /* foot: navigation */

  #l #primary.photo p.navigation {
    background: #eee url(../decor/foot.png) no-repeat bottom right;
    padding-right: 14px;
    width: 658px;
  }

  #l.tall #primary.photo p.navigation {
     background: #eee url(../decor/foot-primary.png) no-repeat bottom right;
     width: 490px;
  }

  #l #secondary.thumbnails p.navigation {
    background: #eee url(../decor/foot.png) no-repeat bottom left;
    padding-left: 14px;
    width: 574px;
  }

  #l.tall #secondary.thumbnails p.navigation {
    background: #eee url(../decor/foot-secondary.png) no-repeat bottom left;
  }

  #l.category #secondary.thumbnails p.navigation {
    width: 1090px;
  }

  #l p.navigation a.next {
    background: url(../decor/icon-next.gif) no-repeat center center;
  }

  #l p.navigation a.next:focus,
  #l p.navigation a.next:hover {
    background: #fff url(../decor/icon-next-focus.gif) no-repeat center center;
  }

  #l p.navigation a.next:active {
    background: #ccc url(../decor/icon-next-active.gif) no-repeat center center;
  }

  #l p.navigation a.previous {
    background: url(../decor/icon-previous.gif) no-repeat center center;
  }

  #l p.navigation a.previous:focus,
  #l p.navigation a.previous:hover {
    background: #fff url(../decor/icon-previous-focus.gif) no-repeat center center;
  }

  #l p.navigation a.previous:active {
    background: #ccc url(../decor/icon-previous-active.gif) no-repeat center center;
  }

  #l p.navigation del.next {
    background: url(../decor/icon-next-disabled.gif) no-repeat center center;
  }

  #l p.navigation del.previous {
    background: url(../decor/icon-previous-disabled.gif) no-repeat center center;
  }


    /* foot: etiol */

  #l #etiol {
    height: 2.143em;
    width: 672px;
  }

  #l #etiol small {
    padding-right: 18px;
  }

  #l.awards #etiol,
  #l.error #etiol,
  #l.contact #etiol {
    background: #eee url(../decor/foot.png) no-repeat bottom right;
    width: 1104px;
  }


    /* foot: feed */

  #l p.feed {
    background: #eee url(../decor/foot.png) no-repeat bottom left;
    height: 2.143em;
    width: 432px;
  }

  #l.tall p.feed {
    width: 588px;
    background-image: url(../decor/foot-secondary.png);
  }

  #l p.feed a {
    margin-left: 18px;
    padding-left: 24px;
    padding-bottom: 1px;
  }

  #l p.feed a {
    background: url(../decor/icon-rss.png) no-repeat left center;
  }

  #l p.feed a:focus,
  #l p.feed a:hover {
    background: url(../decor/icon-rss-focus.png) no-repeat left center;
  }


    /* exceptions */

  #l.phil-bardsley-and-eddie-hutchinson #primary.photo dl dd,
  #l.bono #primary.photo dl dd,
  #l.gordon-brown-2-moving-in #primary.photo dl dd,
  #l.classroom #primary.photo dl dd,
  #l.samir-durrani-2-freefall #primary.photo dl dd,
  #l.event-horizon #primary.photo dl dd,
  #l.napoli-and-coastguard #primary.photo dl dd,
  #l.napoli-tanker #primary.photo dl dd,
  #l.horseplay #primary.photo dl dd {
    bottom: auto;
    top: -30px;
  }
