
  #l #menu {
    margin-top: 90px;
  }

  #l.tall #menu {
    background: #ddd url(../decor/head-secondary.png) no-repeat center top;
    width: 588px;
  }

  #l.wide #menu {
    background: #ddd url(../decor/head.png) no-repeat center top;
    width: 1104px;
  }

  #l.tall #menu #sections {
    left: 432px;
    width: 156px;
  }

  #l.wide #menu #sections {
    width: 672px;
  }

  #l.about #menu #sections,
  #l.awards #menu #sections,
  #l.category #menu #sections {
    width: 1104px;
  }

  #l #menu #subsections {
    width: 432px;
  }

  #l #menu #sections h2 {
    background: url(../decor/head.png) no-repeat right top;
    padding: 0 18px 0 12px;
  }

  #l #menu #subsections h2 {
    background: url(../decor/head.png) no-repeat left top;
    padding: 0 12px 0 18px;
  }

  #l #menu ul li a {
    background: #ddd url(../decor/head.png) no-repeat center top;
    padding: 0 6px;
  }

  #l.tall.root #menu #sections ul {
    height: 419px;
    background: #ccc url(../decor/background-secondary.jpg) no-repeat right bottom;
  }

  #l.tall #menu #sections ul li a,
  #l.tall #menu #sections ul li strong {
    padding-right: 18px;
    width: 132px;
  }

  #l #menu ul li a:focus,
  #l #menu ul li a:hover,
  #l #menu ul li strong a:focus,
  #l #menu ul li strong a:hover {
    background: #bbb url(../decor/menu-selected.png) repeat-x top;
  }

  #l #menu ul li strong {
    background: #eee url(../decor/menu-focus.png) repeat-x top;
  }

  #l #menu #subsections ul li strong {
    padding: 0 6px;
  }

  #l #menu ul li.here strong {
    padding: 0 6px;
  }

  #l #menu ul li strong a {
    background: #eee url(../decor/menu-focus.png) repeat-x top;
    padding: 0 6px;
  }

  #l.tall #menu #sections ul li strong a {
    padding-right: 18px;
  }
