

    /* GENERAL */

  #l #secondary {
    background: #b4b4b4 url(../decor/background-secondary.jpg) repeat-y left top;
    height: 420px;
    padding-bottom: 2.143em;
  }

  #l.tall #secondary {
    width: 588px;
  }

  #l.wide #secondary {
    width: 432px;
  }


    /* .photo */

  #l #secondary.photo dt img {
    height: 420px;
  }

  #l #secondary.photo dd {
    background: #eee url(../decor/foot.png) no-repeat bottom left;
    padding-left: 18px;
    width: 1086px;
  }


    /* .text */

  #l #secondary.text {
    height: 384px;
    width: 384px;
    padding: 18px;
    padding-right: 30px;
  }

  #l #secondary.text h2 {
    line-height: 22px;
    font-size: 22px;
    margin-top: 14px;
    margin-bottom: 12px;
  }

  #l #secondary.text h2.first {
    margin-top: 0;
  }

  #l #secondary.text p.newsflash {
    background: #a4a4a4 url(../decor/background-secondary-emphasis.jpg) -18px -18px;
    line-height: 22px;
    padding: 2px 6px;
  }

  #l #secondary.text p.newsflash strong {
    line-height: 22px;
  }

  #l #secondary.text p.description {
    line-height: 22px;
  }

  #l #secondary.text #recent {
    background: url(../decor/background-secondary.jpg) -18px 100%;
  }

  #l #secondary.text #recent h2 {
    margin-bottom: 114px;
    padding-top: 6px;
    width: 384px;
  }

  #l #secondary.text #recent a {
    bottom: 18px;
  }

  #l #secondary.text #recent a.index-3 {
    left: 90px;
  }

  #l #secondary.text #recent a.index-4 {
    left: 180px;
  }

  #l #secondary.text #recent a.index-5 {
    left: 270px;
  }

  #l #secondary.text #recent a.more {
    background: url(../decor/background-secondary-emphasis.jpg) -378px -318px;
    left: 360px;
  }

  #l #secondary.text #recent a.more:focus,
  #l #secondary.text #recent a.more:hover {
    background: url(../decor/icon-more-focus.png) no-repeat top left;
  }

  #l #secondary.text #recent a.more:active {
    background: url(../decor/icon-more-active.png) no-repeat top left;
  }

  #l #secondary.text #recent a img {
    height: 84px;
  }


    /* .thumbnails */

  #l #secondary dl.subject {
    margin-top: -2.143em;
    padding: 0 12px;
  }

  #l.tall #secondary dl.subject {
    padding-right: 168px;
  }

  #l #secondary dl.subject dd {
    margin-left: -12px;
    margin-top: -4.286em;
    padding-left: 12px;
  }

  #l #secondary dl.subject dd a {
    margin-left: -12px;
    padding: 0 12px;
  }

  #l #secondary dl.subject dd strong {
    margin-left: -12px;
    padding: 0 12px;
  }

  #l #secondary p.thumbnails {
    background: #b4b4b4 url(../decor/background-secondary.jpg) repeat-y top left;
    height: 420px;
    width: 432px;
  }

  #l.tall #secondary p.thumbnails {
    margin-right: -156px;
    padding-right: 156px;
  }

  #l #secondary.text #recent a.index-2 img,
  #l #secondary.text #recent a.index-3 img,
  #l #secondary.text #recent a.index-4 img,
  #l #secondary.text #recent a.index-5 img,
  #l.awards #primary .winner img,
  #l.awards #primary #finalist img,
  #l #secondary p.thumbnails img {
    font-size: 12px;
    height: 84px;
    line-height: 14px;
    width: 84px;
  }

  #l #secondary.text #recent a.more img {
    font-size: 12px;
    height: 84px;
    line-height: 14px;
  }


    /* m.category */

  #l.category #secondary.thumbnails h1 {
    left: 18px;
    top: 90px;
  }

